body {
	color:#787680;
	font-family: Open Sans;
	background-color: #fff;
}	
h1 {
	color: #ee4d8a;
	font-family: Arvo;
	font-size: 40px;
}
.staff {
	border-radius: 50%;
	width: 70px;
}
.carousel-holder {
    margin-bottom: 30px;
}
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}
a {
	color:#ee4d8a;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#text1 {
	padding-top: 60px;
	}
#footer {
	background: black;
	color: #aaa;
	padding-top: 3em;
	padding-bottom: 3em;
}
#footer a {
	color: #aaa;
}
#footer a:hover {
	color: #fff;
}
.social {
	font-size: 24px;
}
.vertical-spacer {
	padding-top: 4em;
}
#wrapper {
	background-image: url("../images/background.jpg");
	height: 650px;
	background-size: cover;
	text-align: center;
	padding-right: 500px;
	padding-top: 250px;
	text-shadow:1px;
}
#wrapper h1 {
	font-size: 75px;
}
.feature p {
	font-weight: 300;
	letter-spacing: 1px;
}
.feature img {
	margin-bottom: 1em;
}
.navbar-transparent {
	background-color: rgba(0, 0, 0, 0.7);
}
  
.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-form,
.navbar-transparent .navbar-nav > li > a {
  color: white;
}
  
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}/* You can put your own style here */

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
